<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15G31</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pat</string>
				<string>mxb</string>
				<string>help</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Binary.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max binary patcher</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>maxb</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>mxt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Text.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max text file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mxf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Collective.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max collective</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mx@c</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vst</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VST.icns</string>
			<key>CFBundleTypeName</key>
			<string>VST plug-in</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>aPcs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mxo</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Extern.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max external object</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>iLaX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jit</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Jit.icns</string>
			<key>CFBundleTypeName</key>
			<string>Jitter document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JiT!</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AIFF.icns</string>
			<key>CFBundleTypeName</key>
			<string>AIFF audio file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
				<string>AIFC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Collective.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max old format collective</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>maxc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>app</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Application</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>APPL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mid</string>
				<string>midi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MIDI.icns</string>
			<key>CFBundleTypeName</key>
			<string>MIDI File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Midi</string>
				<string>MIDI</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XML File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>maxpat</string>
				<string>maxhelp</string>
				<string>json</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Max 5 patcher</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MaxPlugLib</string>
	<key>CFBundleGetInfoString</key>
	<string>7.3.5, Copyright 2012 Cycling '74</string>
	<key>CFBundleIconFile</key>
	<string>Max.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cycling74.MaxPlugLib</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>MaxPlugLib 7.3.5 (build be88c5a), Copyright 2012 Cycling '74</string>
	<key>CFBundleShortVersionString</key>
	<string>7.3.5 (be88c5a)</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>7.3.5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8C1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0821</string>
	<key>DTXcodeBuild</key>
	<string>8C1002</string>
</dict>
</plist>
